body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: var(--bg-warna);
  margin: 0;
  padding: 0;
  color: var(--teks-utama);
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  height: 70px;
}

h1 {
  margin: 10px 0 5px;
  color: var(--teks-judul);
}

h2 {
  margin-top: 0;
  color: var(--teks-judul-h2);
  border-left: 5px solid #facc15;
  margin-bottom: 10px;
  padding-left: 10;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
}

nav a.active, nav a:hover {
  background: #1e3a8a;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.card {
  background: rgb(248, 248, 248);
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.card h3 {
  margin-top: 0;
  color: #062782;
  border-left: 5px solid #facc15;
  padding-left: 10px;
}

.card img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.table th {
  background: #1e3a8a;
  color: white;
  padding: 10px;
}

.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

form input, form select, form textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

form button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form .reset {
  background: #6b7280;
  color: white;
}

form .submit {
  background: #1e3a8a;
  color: white;
}

    hr {
      border: none;
      border-top: 1px solid #cccccc;
      height: 1px; 
      margin: 1em 0; 
    }